.receitas {
    background: #e5e5e5; /* Inserindo cor de fundo */
    display: flex; /* elementos ficarem um ao lado do outro */
    flex-wrap: wrap; /* quebra de linhas e colunas */    
}

/* Responsividade do sessão de receitas para dispositivos celulares */
@media screen and (min-width: 0) {
    .receitas {
        padding: 5rem 0 0 1rem;
    }
}

/* Responsividade do sessão de receitas para dispositivos Tablets */
@media screen and (min-width: 768px) {
    .receitas {
        padding: 5rem 0 0 2.5rem;
    }
}

/* Responsividade do sessão de receitas para dispositivos desktops */
@media screen and (min-width: 992px) {
    .receitas {
        padding: 5rem 0 0 5rem; /* espaçamento interno */
    }
}